@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2hsY.ttf) format('truetype');
}
.customFont {
  font-family: 'VT323', monospace;
}
.buttonStyle {
  border: 3px solid #fff;
  background: #424242;
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  padding: 5px;
  text-align: left;
  line-height: 0.8;
}
.buttonStyle.active {
  background: #7fb000;
}
.buttonStyle[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}
.buttonStyle:hover {
  border-color: #7fb000;
}
/* POWER  ------------------------------------------------------------------- */
#power {
  font-family: 'VT323', monospace;
}
#power-usage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2px 20px 2px 20px 2px 20px 2px 20px;
  grid-template-columns: 1fr 20px 20px 20px 20px;
  gap: 2px;
}
#power-usage div {
  width: 20px;
  height: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#23eb1f), color-stop(75%, #23eb1f), color-stop(75%, #27b723));
  background: -o-linear-gradient(left, #23eb1f 0%, #23eb1f 75%, #27b723 75%);
  background: linear-gradient(to right, #23eb1f 0%, #23eb1f 75%, #27b723 75%);
}
#power-usage div:nth-child(4) {
  background: -webkit-gradient(linear, left top, right top, from(#fff300), color-stop(75%, #fff300), color-stop(75%, #f3870b));
  background: -o-linear-gradient(left, #fff300 0%, #fff300 75%, #f3870b 75%);
  background: linear-gradient(to right, #fff300 0%, #fff300 75%, #f3870b 75%);
}
#power-usage div:nth-child(5) {
  background: -webkit-gradient(linear, left top, right top, from(#ff2323), color-stop(75%, #ff2323), color-stop(75%, #cb0000));
  background: -o-linear-gradient(left, #ff2323 0%, #ff2323 75%, #cb0000 75%);
  background: linear-gradient(to right, #ff2323 0%, #ff2323 75%, #cb0000 75%);
}
#power-usage[multiplier="1"] div:nth-child(5),
#power-usage[multiplier="1"] div:nth-child(4),
#power-usage[multiplier="1"] div:nth-child(3) {
  opacity: 0;
}
#power-usage[multiplier="2"] div:nth-child(5),
#power-usage[multiplier="2"] div:nth-child(4) {
  opacity: 0;
}
#power-usage[multiplier="3"] div:nth-child(5) {
  opacity: 0;
}
/* Timer -------------------------------------------------------------------- */
#in-game-time,
#real-time {
  font-family: 'VT323', monospace;
}
#timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* IN GAME TIME ------------------------------------------------------------- */
#in-game-time {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 0 -webkit-min-content;
  -ms-grid-rows: min-content 0 min-content;
  -ms-grid-columns: 1fr 10px -webkit-min-content;
  -ms-grid-columns: 1fr 10px min-content;
      grid-template: "hour minutes" -webkit-min-content "hour am" -webkit-min-content / 1fr -webkit-min-content;
      grid-template: "hour minutes" min-content "hour am" min-content / 1fr min-content;
  gap: 0 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
#in-game-time > span {
  line-height: 0.6;
  text-align: right;
}
.in-game-hour {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  font-size: 10em;
  grid-area: hour;
  -ms-grid-column-align: start;
      justify-self: start;
}
.in-game-minutes {
  font-size: 2em;
}
.am-marker {
  font-size: 3em;
}
/* REAL TIME ---------------------------------------------------------------- */
#supplementary-time-info {
  border: 1px solid #fff;
  padding: 10px;
  margin-top: 20px;
  min-width: 175px;
}
#real-time {
  font-size: 2em;
  margin: 10px 0;
}
.animatronic {
  width: 50px;
  height: 50px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  pointer-events: none;
  z-index: 3;
}
@media (max-width: 1400px) {
  .animatronic {
    -webkit-transform: scale(0.9) translate(-10%, -10%);
        -ms-transform: scale(0.9) translate(-10%, -10%);
            transform: scale(0.9) translate(-10%, -10%);
  }
}
@media (max-width: 1000px) {
  .animatronic {
    -webkit-transform: scale(0.8) translate(-20%, -20%);
        -ms-transform: scale(0.8) translate(-20%, -20%);
            transform: scale(0.8) translate(-20%, -20%);
  }
}
/* Camera 1A -----------------------------------------------------------------*/
.animatronic[position="1A"] {
  top: 6.7%;
  left: 33.5%;
}
.animatronic#Chica[position="1A"] {
  left: 42.5%;
}
.animatronic#Freddy[position="1A"] {
  left: 51%;
}
/* Camera 1B ------------------------------------------------------------------*/
.animatronic[position="1B"] {
  top: 26%;
  left: 30%;
}
.animatronic#Bonnie[position="1B"] {
  top: 30%;
  left: 50%;
}
.animatronic#Freddy[position="1B"] {
  top: 22%;
  left: 40%;
}
.animatronic#Freddy[position="1B"] {
  top: 22%;
  left: 40%;
}
/* Camera 1C ------------------------------------------------------------------*/
.animatronic[position="1C"] {
  top: 42%;
  left: 8.3%;
}
/* Camera 2A ------------------------------------------------------------------*/
.animatronic[position="2A"] {
  top: 63.5%;
  left: 29.2%;
}
/* Camera 2B ------------------------------------------------------------------*/
.animatronic[position="2B"] {
  top: 84%;
  left: 29.2%;
}
.animatronic[position="2B"][sub-position="1"] {
  left: 32.2%;
}
/* Camera 3 ------------------------------------------------------------------*/
.animatronic[position="3"] {
  top: 73%;
  left: 15.8%;
}
/* Camera 4A ------------------------------------------------------------------*/
.animatronic[position="4A"] {
  top: 63.5%;
  left: 55.2%;
}
.animatronic[position="4A"] ~ .animatronic[position="4A"] {
  top: calc(63.5% + 50px);
}
/* Camera 4B ------------------------------------------------------------------*/
.animatronic[position="4B"] {
  top: 84%;
  left: 55.2%;
}
.animatronic[position="4B"][sub-position="1"] {
  top: 84%;
  left: 51.2%;
}
.animatronic[position="4B"] ~ .animatronic[position="4B"] {
  top: calc(84% + 50px);
}
/* Camera 5 ------------------------------------------------------------------*/
.animatronic[position="5"] {
  top: 17%;
  left: 4.6%;
}
/* Camera 6 ------------------------------------------------------------------*/
.animatronic[position="6"] {
  top: 63.5%;
  left: 69%;
}
.animatronic[position="6"] ~ .animatronic[position="6"] {
  left: calc(69% + 50px);
}
/* Camera 7 ------------------------------------------------------------------*/
.animatronic[position="7"] {
  top: 33%;
  left: 78.65%;
}
.animatronic[position="7"] ~ .animatronic[position="7"] {
  top: calc(33% + 50px);
}
/* Office ------------------------------------------------------------------*/
.animatronic[position="office"] {
  top: 74%;
  left: 42.09%;
}
.animatronic[position="office"] ~ .animatronic[position="office"] {
  top: calc(74% + 50px);
}
/* Individual animatronic styling ------------------------------------------- */
#Bonnie {
  background-color: purple;
  background-image: url('../../assets/Bonnie.svg');
  background-size: cover;
  background-position: center bottom;
}
#Chica {
  background-color: yellow;
  background-image: url('../../assets/Chica.svg');
  background-size: 80%;
  background-position: center top;
}
#Freddy {
  background-color: brown;
  background-image: url('../../assets/Freddy.svg');
  background-size: cover;
}
#Foxy {
  background-color: red;
  background-image: url('../../assets/Foxy.svg');
  background-size: 120%;
}
#Foxy[position="1C"]:before,
#Foxy[position="1C"]:after {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  background: #000;
  border: 2px solid #fff;
  right: -10px;
  top: -10px;
}
#Foxy[position="1C"]:after {
  background: #fff;
}
#Foxy[position="1C"][sub-position="0"]:before {
  border-color: green;
}
#Foxy[position="1C"][sub-position="0"]:after {
  display: none;
}
#Foxy[position="1C"][sub-position="1"]:before,
#Foxy[position="1C"][sub-position="1"]:after {
  border-color: #f60;
}
#Foxy[position="1C"][sub-position="1"]:after {
  -webkit-clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 75%);
          clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 75%);
}
#Foxy[position="1C"][sub-position="2"]:before,
#Foxy[position="1C"][sub-position="2"]:after {
  border-color: red;
}
#Foxy[position="1C"][sub-position="2"]:after {
  -webkit-clip-path: polygon(50% 0%, 50% 50%, 0% 75%, 0% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(50% 0%, 50% 50%, 0% 75%, 0% 100%, 100% 100%, 100% 0%);
}
#Foxy[position="4A"] {
  opacity: 0.2;
}
@-webkit-keyframes foxyHallAnimation {
  from {
    top: 63.5%;
  }
  to {
    top: 84%;
  }
}
@keyframes foxyHallAnimation {
  from {
    top: 63.5%;
  }
  to {
    top: 84%;
  }
}
#simulator-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto -webkit-min-content;
  -ms-grid-rows: auto auto auto min-content;
  -ms-grid-columns: 1fr;
      grid-template: "." auto "." auto "." auto "camera-button" -webkit-min-content / 1fr;
      grid-template: "." auto "." auto "." auto "camera-button" min-content / 1fr;
  position: relative;
}
#simulator {
  position: relative;
}
#Rooms,
#Dead_space {
  pointer-events: none;
}
svg#close-icons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  pointer-events: none;
}
button#cameras {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  border: 3px solid #646464;
  background: rgba(100, 100, 100, 0.3) url(../../assets/icons/down-arrow.svg) center right no-repeat;
  background-size: contain;
  padding: 15px;
  border-radius: 5px;
  width: calc(100% - 40px);
  font-family: inherit;
  color: #fff;
  text-align: start;
  margin: 20px 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5em;
  grid-area: camera-button;
}
.report-item-container {
  overflow-y: scroll;
  padding: 10px;
}
.report-item {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template: "time" "description" "extra-info";
  margin-bottom: 10px;
}
.report-item[type="bad"] .report-description {
  color: #f60;
}
.report-item[type="good"] .report-description {
  color: green;
}
.report-item[type="warning"] .report-description {
  color: red;
}
.report-item[type="alert"] .report-description,
.report-item[type="death-zone"] .report-description {
  color: red;
  padding-left: 30px;
  background: url('../../assets/icons/alert.svg') left top no-repeat;
  background-size: 25px;
  text-transform: uppercase;
}
.report-item[type="death-zone"] .report-description {
  background-image: url('../../assets/icons/skull.svg');
  background-size: 18px;
  background-position: left 2px;
}
.report-time {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  color: #646464;
  grid-area: time;
}
.report-description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: description;
}
.report-extra-info {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  color: #646464;
  grid-area: extra-info;
  text-transform: initial;
}
/* General panel ------------------------------------------------------------ */
#animatronic-report {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 10px auto;
  -ms-grid-columns: 1fr 10px 1fr;
      grid-template: ". ." auto ". ." auto / 1fr 1fr;
  gap: 10px;
  grid-area: reports;
}
#sidebar > #animatronic-report {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}
.animatronic-report {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 150px -webkit-min-content;
  -ms-grid-rows: min-content 150px min-content;
  -ms-grid-columns: 60px 1fr -webkit-max-content;
  -ms-grid-columns: 60px 1fr max-content;
      grid-template: "icon name starting-ai-level" -webkit-min-content "icon reports reports" 150px "icon current-ai-level current-ai-level" -webkit-min-content / 60px 1fr -webkit-max-content;
      grid-template: "icon name starting-ai-level" min-content "icon reports reports" 150px "icon current-ai-level current-ai-level" min-content / 60px 1fr max-content;
  border: 2px solid;
}
.animatronic-icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: icon;
  border-right: inherit;
}
.stats-report > .animatronic-icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  -ms-grid-column: 1;
}
.current-ai-level {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: current-ai-level;
}
.report-item-container {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: reports;
}
#sidebar > .report-item-container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}
.animatronic-name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  font-size: 1.5em;
  font-weight: bold;
  grid-area: name;
  text-transform: uppercase;
  padding: 5px;
}
.stats-report > .animatronic-name {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.starting-ai-level {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: starting-ai-level;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8em;
}
.starting-ai-level span {
  font-size: 1.5em;
}
.animatronic-name,
.starting-ai-level,
.current-ai-level {
  padding-left: 10px;
}
.animatronic-report[for="Bonnie"] {
  border-color: rebeccapurple;
}
.animatronic-report[for="Bonnie"] .animatronic-icon {
  background: url('../../assets/animatronics/bonnie.png') center / cover;
}
.animatronic-report[for="Bonnie"] .animatronic-name,
.animatronic-report[for="Bonnie"] .starting-ai-level,
.animatronic-report[for="Bonnie"] .current-ai-level {
  background: rebeccapurple;
}
.animatronic-report[for="Chica"] {
  border-color: yellow;
}
.animatronic-report[for="Chica"] .animatronic-icon {
  background: url('../../assets/animatronics/chica.png') center / cover;
}
.animatronic-report[for="Chica"] .animatronic-name,
.animatronic-report[for="Chica"] .starting-ai-level,
.animatronic-report[for="Chica"] .current-ai-level {
  background: yellow;
  color: black;
}
.animatronic-report[for="Foxy"] {
  border-color: red;
}
.animatronic-report[for="Foxy"] .animatronic-icon {
  background: url('../../assets/animatronics/foxy.png') center / cover;
}
.animatronic-report[for="Foxy"] .animatronic-name,
.animatronic-report[for="Foxy"] .starting-ai-level,
.animatronic-report[for="Foxy"] .current-ai-level {
  background: red;
}
.animatronic-report[for="Freddy"] {
  border-color: brown;
}
.animatronic-report[for="Freddy"] .animatronic-icon {
  background: url('../../assets/animatronics/freddy.png') center / cover;
}
.animatronic-report[for="Freddy"] .animatronic-name,
.animatronic-report[for="Freddy"] .starting-ai-level,
.animatronic-report[for="Freddy"] .current-ai-level {
  background: brown;
}
#camera-display {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid transparent;
}
#static {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  background: url('../../assets/cameras/static.gif');
  background-size: cover;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
#camera-display.updating #static {
  opacity: 1;
}
#camera-status {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}
body[cameras-on="false"] #camera-screen {
  opacity: 0.1;
}
body[cameras-on="false"] .camera-button {
  pointer-events: none;
  opacity: 0.3;
}
body[cameras-on="false"] #camera-display {
  border-color: #646464;
}
.camera-button {
  border: 3px solid #fff;
  background: #424242;
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  padding: 5px;
  text-align: left;
  line-height: 0.8;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 2px 20px 2px 5px;
  position: absolute;
  z-index: 2;
}
.camera-button.active {
  background: #7fb000;
}
.camera-button[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}
.camera-button:hover {
  border-color: #7fb000;
}
.camera-button.active {
  pointer-events: none;
}
/* Camera button placement -------------------------------------------------- */
.camera-button[camera="1A"] {
  top: 0;
  left: 27%;
}
.camera-button[camera="1B"] {
  top: 15.3%;
  left: 22%;
}
.camera-button[camera="1C"] {
  top: 37%;
  left: 14.5%;
}
.camera-button[camera="2A"] {
  top: 76%;
  left: 28.4%;
}
.camera-button[camera="2B"] {
  top: calc(76% + 54px);
  left: 28.4%;
}
.camera-button[camera="3"] {
  top: 64%;
  left: 9%;
}
.camera-button[camera="4A"] {
  top: 76%;
  left: 54.4%;
}
.camera-button[camera="4B"] {
  top: calc(76% + 54px);
  left: 54.4%;
}
.camera-button[camera="5"] {
  top: 26%;
  left: 0;
}
.camera-button[camera="6"] {
  top: 60%;
  left: 83%;
}
.camera-button[camera="7"] {
  top: 19%;
  left: 82%;
}
/* POWER OUTAGE ------------------------------------------------------------- */
#office-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}
#game-over-stats {
  position: absolute;
  top: 0;
  right: 20px;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#game-over-stats h2 {
  font-family: 'VT323', monospace;
  font-size: 4em;
  margin: 0;
}
#game-over-stats button {
  border: 3px solid #fff;
  background: #424242;
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  padding: 5px;
  text-align: left;
  line-height: 0.8;
  text-align: center;
  width: auto;
  font-size: 2em;
  line-height: 1;
}
#game-over-stats button.active {
  background: #7fb000;
}
#game-over-stats button[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}
#game-over-stats button:hover {
  border-color: #7fb000;
}
#game-over-stats button:hover {
  background: #7fb000;
}
body[game-in-progress="true"] #game-over-stats {
  display: none;
}
.stats-report {
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0 auto 0 auto 0 auto 0 auto;
  -ms-grid-columns: 100px 20px 1fr;
      grid-template: "icon name" 1fr "icon ." auto "icon ." auto "icon ." auto "icon ." auto / 100px 1fr;
  gap: 0 20px;
}
.stats-report h3 {
  margin: 0 0 10px;
}
.stats-report .animatronic-icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  -ms-grid-column: 1;
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: icon;
}
.stats-report[for="Freddy"] .animatronic-icon {
  background-image: url('../../assets/animatronics/freddy.png');
}
.stats-report[for="Bonnie"] .animatronic-icon {
  background-image: url('../../assets/animatronics/bonnie.png');
}
.stats-report[for="Chica"] .animatronic-icon {
  background-image: url('../../assets/animatronics/chica.png');
}
.stats-report[for="Foxy"] .animatronic-icon {
  background-image: url('../../assets/animatronics/foxy.png');
}
#game-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: calc(100vh - 60px);
  text-align: center;
}
#game-menu h1 {
  font-family: 'VT323', monospace;
  font-size: 4em;
  margin: 0;
}
@media (max-width: 1400px) {
  #game-menu h1 {
    font-size: 3em;
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  #game-menu h1 {
    font-size: 2em;
  }
}
#game-menu button.adjust-ai-level {
  background: #434343;
  border: none;
  color: white;
}
#game-menu button.simulate-night,
#game-menu button#start-game {
  border: 3px solid #fff;
  background: #424242;
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  padding: 5px;
  text-align: left;
  line-height: 0.8;
  padding: 10px;
  font-size: 1.75em;
}
#game-menu button.simulate-night.active,
#game-menu button#start-game.active {
  background: #7fb000;
}
#game-menu button.simulate-night[disabled],
#game-menu button#start-game[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}
#game-menu button.simulate-night:hover,
#game-menu button#start-game:hover {
  border-color: #7fb000;
}
@media (max-width: 1400px) {
  #game-menu button.simulate-night,
  #game-menu button#start-game {
    font-size: 1.5em;
  }
}
#game-menu button.simulate-night:hover,
#game-menu button#start-game:hover {
  background: #7fb000;
}
#game-menu button#start-game {
  font-size: 3em;
  padding: 10px 20px;
}
#game-menu img {
  max-width: 175px;
}
#game-menu h2 {
  font-size: 2em;
  text-align: center;
}
#custom-night-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 780px) {
  #custom-night-menu {
    display: -ms-grid;
    display: grid;
        grid-template: ". ." ". .";
  }
}
@media (max-width: 500px) {
  #custom-night-menu {
        grid-template: "." "." "." ".";
  }
}
#night-selector-menu button {
  margin: 10px;
}
@media (max-width: 500px) {
  #night-selector-menu button.simulate-night {
    font-size: 1.25em;
  }
}
/* Switch ------------------------------------------------------------------- */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.switch input:checked + .slider {
  background-color: #7fb000;
}
.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #7fb000;
          box-shadow: 0 0 1px #7fb000;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
          transform: translateX(26px);
}
/* Info bar ----------------------------------------------------------------- */
#info-bar {
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #fff;
  font-size: 1.5em;
  width: 100%;
}
/* Playable game mode ------------------------------------------------------- */
body[game-mode="playable-game"] .in-game-minutes,
body[game-mode="playable-game"] #supplementary-time-info,
body[game-mode="playable-game"] .animatronic-report .report-item-container,
body[game-mode="playable-game"] span.animatronic,
body[game-mode="playable-game"] #power-time,
body[game-mode="playable-game"] .current-ai-level {
  opacity: 0;
  pointer-events: none;
}
/* Lights ------------------------------------------------------------------- */
@-webkit-keyframes litAnimatronicAnimation {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes litAnimatronicAnimation {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: #fff;
  }
}
#simulator[left-light-on='true'] .animatronic[position='2B'][sub-position='1'],
#simulator[right-light-on='true'] .animatronic[position='4B'][sub-position='1'] {
  -webkit-animation: litAnimatronicAnimation 1s linear infinite;
          animation: litAnimatronicAnimation 1s linear infinite;
  opacity: 1 !important;
}
@-webkit-keyframes flickerI {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flickerI {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#left-light-graphic,
#right-light-graphic {
  position: relative;
  -webkit-animation: flickerI 2s infinite;
          animation: flickerI 2s infinite;
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background: -o-radial-gradient(rgba(219, 221, 239, 0.9), rgba(219, 221, 239, 0) 75%);
  background: radial-gradient(rgba(219, 221, 239, 0.9), rgba(219, 221, 239, 0) 75%);
  -webkit-animation: flickerI 1s infinite;
          animation: flickerI 1s infinite;
  left: 35%;
  bottom: 12.5%;
}
#right-light-graphic {
  left: 48%;
}
#simulator:not([left-light-on='true']) #left-light-graphic {
  display: none;
}
#simulator:not([right-light-on='true']) #right-light-graphic {
  display: none;
}
/* Controls ----------------------------------------------------------------- */
#controls {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 5px auto;
  -ms-grid-columns: 48px 150px 48px;
      grid-template: '. .' '. .' / 48px 48px;
  gap: 5px 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 9%;
}
#controls button {
  height: 48px;
  position: relative;
  border: none;
  border: 3px solid #9c0000;
  border-right-color: #850000;
  border-bottom-color: #680000;
}
#controls button:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: calc(100% + 12px);
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 1.75em;
}
#controls button[door='right']:after {
  left: unset;
  right: calc(100% + 12px);
}
#controls .door-button {
  background: -o-radial-gradient(#c40000, #720000);
  background: radial-gradient(#c40000, #720000);
}
#controls .door-button.active {
  background: -o-radial-gradient(#6ae500 33%, #1e6c00);
  background: radial-gradient(#6ae500 33%, #1e6c00);
  border-color: #1e6c00;
}
#controls .door-button:after {
  content: 'DOOR';
}
#controls .light-button {
  background: -o-radial-gradient(#666, #474747);
  background: radial-gradient(#666, #474747);
  border-color: #494949;
  border-right-color: #363636;
  border-bottom-color: #363636;
}
#controls .light-button:after {
  content: 'LIGHT';
}
#simulator[left-light-on='true'] + #controls .light-button[door='left'],
#simulator[right-light-on='true'] + #controls .light-button[door='right'] {
  background: -o-radial-gradient(#d4d5d9 33%, #637bbe);
  background: radial-gradient(#d4d5d9 33%, #637bbe);
  border-color: #6d82bd;
}
/* Game speed selector ------------------------------------------------------ */
#game-speed-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#game-speed-selector input {
  opacity: 0;
}
#game-speed-selector label {
  border: 3px solid #fff;
  background: #424242;
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  padding: 5px;
  text-align: left;
  line-height: 0.8;
  margin: 0;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
}
#game-speed-selector label.active {
  background: #7fb000;
}
#game-speed-selector label[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}
#game-speed-selector label:hover {
  border-color: #7fb000;
}
#game-speed-selector input:checked + label {
  background: #7fb000;
}
#game-speed-selector label:hover {
  border-color: #7fb000;
}
.ai-adjuster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.ai-adjuster button {
  background: #464664;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1.5em;
  padding: 10px;
}
.ai-adjuster input {
  background: transparent;
  color: white;
  border: none;
  text-align: center;
  font-size: 4em;
  font-family: monospace;
  width: 150px;
  outline: none;
}
.ai-adjuster input::-webkit-inner-spin-button {
  display: none;
}
@media (max-width: 1000px) {
  .ai-adjuster input {
    font-size: 2em;
    width: 75px;
  }
}
.ai-adjuster button:nth-child(2) {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.custom-ai-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ai-descriptions {
  font-size: 1.5em;
  margin: 20px 0;
}
body {
  background: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}
body[game-in-progress] #game-menu {
  display: none;
}
body:not([game-in-progress]) main {
  display: none;
}
main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 750px 1fr;
      grid-template: '. .' auto / 750px 1fr;
}
@media (max-width: 1400px) {
  main {
    -ms-grid-rows: auto;
    -ms-grid-columns: 600px 1fr;
        grid-template: '. .' auto / 600px 1fr;
  }
}
@media (max-width: 1000px) {
  main {
    -ms-grid-rows: auto;
    -ms-grid-columns: 500px 1fr;
        grid-template: '. .' auto / 500px 1fr;
  }
}
details {
  width: 100%;
  cursor: pointer;
}
img {
  max-width: 100%;
}
.hidden {
  display: none !important;
}
button {
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #111;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
/* Pizzeria layout ---------------------------------------------------------- */
#pizzeria-layout {
  max-width: 750px;
}
#pizzeria-layout * {
  stroke-width: 0.75;
}
#pizzeria-layout #Rooms * {
  stroke: #fff;
}
#pizzeria-layout #Dead_space {
  stroke: #333333;
}
#sidebar {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 10px -webkit-min-content;
  -ms-grid-rows: auto 10px min-content;
  -ms-grid-columns: 1fr 10px 1fr;
      grid-template: '. .' auto ' reports reports' -webkit-min-content / 1fr 1fr;
      grid-template: '. .' auto ' reports reports' min-content / 1fr 1fr;
  gap: 10px;
}
/*# sourceMappingURL=style.css.map */