/* Timer -------------------------------------------------------------------- */
#in-game-time,
#real-time {
  font-family: 'VT323', monospace; }

#timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* IN GAME TIME ------------------------------------------------------------- */
#in-game-time {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 0 -webkit-min-content;
  -ms-grid-rows: min-content 0 min-content;
  -ms-grid-columns: 1fr 10px -webkit-min-content;
  -ms-grid-columns: 1fr 10px min-content;
  grid-template: "hour minutes" -webkit-min-content "hour am" -webkit-min-content / 1fr -webkit-min-content;
  grid-template: "hour minutes" min-content "hour am" min-content / 1fr min-content;
  gap: 0 10px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end; }

#in-game-time > span {
  line-height: 0.6;
  text-align: right; }

.in-game-hour {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  font-size: 10em;
  grid-area: hour;
  -ms-grid-column-align: start;
  justify-self: start; }

.in-game-minutes {
  font-size: 2em; }

.am-marker {
  font-size: 3em; }

/* REAL TIME ---------------------------------------------------------------- */
#supplementary-time-info {
  border: 1px solid #fff;
  padding: 10px;
  margin-top: 20px;
  min-width: 175px; }

#real-time {
  font-size: 2em;
  margin: 10px 0; }

.animatronic {
  width: 50px;
  height: 50px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  pointer-events: none;
  z-index: 3; }
  @media (max-width: 1400px) {
    .animatronic {
      -webkit-transform: scale(0.9) translate(-10%, -10%);
      -ms-transform: scale(0.9) translate(-10%, -10%);
      transform: scale(0.9) translate(-10%, -10%); } }
  @media (max-width: 1000px) {
    .animatronic {
      -webkit-transform: scale(0.8) translate(-20%, -20%);
      -ms-transform: scale(0.8) translate(-20%, -20%);
      transform: scale(0.8) translate(-20%, -20%); } }

/* Camera 1A -----------------------------------------------------------------*/
.animatronic[position="1A"] {
  top: 6.7%;
  left: 33.5%; }

.animatronic#Chica[position="1A"] {
  left: 42.5%; }

.animatronic#Freddy[position="1A"] {
  left: 51%; }

/* Camera 1B ------------------------------------------------------------------*/
.animatronic[position="1B"] {
  top: 26%;
  left: 30%; }

.animatronic#Bonnie[position="1B"] {
  top: 30%;
  left: 50%; }

.animatronic#Freddy[position="1B"] {
  top: 22%;
  left: 40%; }

.animatronic#Freddy[position="1B"] {
  top: 22%;
  left: 40%; }

/* Camera 1C ------------------------------------------------------------------*/
.animatronic[position="1C"] {
  top: 42%;
  left: 8.3%; }

/* Camera 2A ------------------------------------------------------------------*/
.animatronic[position="2A"] {
  top: 63.5%;
  left: 29.2%; }

/* Camera 2B ------------------------------------------------------------------*/
.animatronic[position="2B"] {
  top: 84%;
  left: 29.2%; }

.animatronic[position="2B"][sub-position="1"] {
  left: 32.2%; }

/* Camera 3 ------------------------------------------------------------------*/
.animatronic[position="3"] {
  top: 73%;
  left: 15.8%; }

/* Camera 4A ------------------------------------------------------------------*/
.animatronic[position="4A"] {
  top: 63.5%;
  left: 55.2%; }

.animatronic[position="4A"] ~ .animatronic[position="4A"] {
  top: calc(63.5% + 50px); }

/* Camera 4B ------------------------------------------------------------------*/
.animatronic[position="4B"] {
  top: 84%;
  left: 55.2%; }

.animatronic[position="4B"][sub-position="1"] {
  top: 84%;
  left: 51.2%; }

.animatronic[position="4B"] ~ .animatronic[position="4B"] {
  top: calc(84%% + 50px); }

/* Camera 5 ------------------------------------------------------------------*/
.animatronic[position="5"] {
  top: 17%;
  left: 4.6%; }

/* Camera 6 ------------------------------------------------------------------*/
.animatronic[position="6"] {
  top: 63.5%;
  left: 69%; }

.animatronic[position="6"] ~ .animatronic[position="6"] {
  left: calc(69% + 50px); }

/* Camera 7 ------------------------------------------------------------------*/
.animatronic[position="7"] {
  top: 33%;
  left: 78.65%; }

.animatronic[position="7"] ~ .animatronic[position="7"] {
  top: calc(33% + 50px); }

/* Office ------------------------------------------------------------------*/
.animatronic[position="office"] {
  top: 74%;
  left: 42.09%; }

.animatronic[position="office"] ~ .animatronic[position="office"] {
  top: calc(74% + 50px); }

/* Individual animatronic styling ------------------------------------------- */
#Bonnie {
  background-color: purple;
  background-image: url("../../assets/Bonnie.svg");
  background-size: cover;
  background-position: center bottom; }

#Chica {
  background-color: yellow;
  background-image: url("../../assets/Chica.svg");
  background-size: 80%;
  background-position: center top; }

#Freddy {
  background-color: brown;
  background-image: url("../../assets/Freddy.svg");
  background-size: cover; }

#Foxy {
  background-color: red;
  background-image: url("../../assets/Foxy.svg");
  background-size: 120%; }

#Foxy[position="1C"]:before,
#Foxy[position="1C"]:after {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  background: #000;
  border: 2px solid #fff;
  right: -10px;
  top: -10px; }

#Foxy[position="1C"]:after {
  background: #fff; }

#Foxy[position="1C"][sub-position="0"]:before {
  border-color: green; }

#Foxy[position="1C"][sub-position="0"]:after {
  display: none; }

#Foxy[position="1C"][sub-position="1"]:before, #Foxy[position="1C"][sub-position="1"]:after {
  border-color: yellow; }

#Foxy[position="1C"][sub-position="1"]:after {
  -webkit-clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 50%);
  clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 50%); }

#Foxy[position="1C"][sub-position="2"]:before, #Foxy[position="1C"][sub-position="2"]:after {
  border-color: #f60; }

#Foxy[position="1C"][sub-position="2"]:after {
  -webkit-clip-path: polygon(50% 0%, 50% 100%, 100% 100%, 100% 0%);
  clip-path: polygon(50% 0%, 50% 100%, 100% 100%, 100% 0%); }

#Foxy[position="1C"][sub-position="3"]:before, #Foxy[position="1C"][sub-position="3"]:after {
  border-color: red; }

#Foxy[position="1C"][sub-position="3"]:after {
  -webkit-clip-path: polygon(50% 0%, 50% 50%, 0% 50%, 0% 100%, 100% 100%, 100% 0%);
  clip-path: polygon(50% 0%, 50% 50%, 0% 50%, 0% 100%, 100% 100%, 100% 0%); }

#Foxy[position="4A"] {
  opacity: 0.2; }

@-webkit-keyframes foxyHallAnimation {
  from {
    top: 63.5%; }
  to {
    top: 84%; } }

@keyframes foxyHallAnimation {
  from {
    top: 63.5%; }
  to {
    top: 84%; } }

#simulator-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto -webkit-min-content;
  -ms-grid-rows: auto auto auto min-content;
  -ms-grid-columns: 1fr;
  grid-template: "." auto "." auto "." auto "camera-button" -webkit-min-content / 1fr;
  grid-template: "." auto "." auto "." auto "camera-button" min-content / 1fr; }

#simulator {
  position: relative; }

#door-controls {
  padding-right: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px; }

.door-button {
  border: 3px solid #fff;
  background: #424242;
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  padding: 5px;
  text-align: left;
  line-height: 0.8; }
  .door-button.active {
    background: #7FB000; }
  .door-button[disabled] {
    opacity: 0.3;
    cursor: not-allowed; }

#Rooms, #Dead_space {
  pointer-events: none; }

svg#close-icons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  pointer-events: none; }

button#cameras {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  border: 3px solid #646464;
  background: rgba(100, 100, 100, 0.3) url(../../assets/icons/down-arrow.svg) center right no-repeat;
  background-size: contain;
  padding: 15px;
  border-radius: 5px;
  width: calc(100% - 40px);
  font-family: inherit;
  color: #fff;
  text-align: start;
  margin: 20px 20px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.5em;
  grid-area: camera-button; }

.report-item-container {
  overflow-y: scroll;
  padding: 10px; }

.report-item {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  grid-template: "time" "description" "extra-info";
  margin-bottom: 10px; }

.report-item[type="bad"] .report-description {
  color: #f60; }

.report-item[type="good"] .report-description {
  color: green; }

.report-item[type="warning"] .report-description {
  color: red; }

.report-item[type="alert"] .report-description {
  color: red;
  padding-left: 30px;
  background: url("../../assets/icons/alert.svg") left top no-repeat;
  background-size: 25px; }

.report-time {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  color: #646464;
  grid-area: time; }

.report-description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: description; }

.report-extra-info {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  color: #646464;
  grid-area: extra-info; }

/* General panel ------------------------------------------------------------ */
#animatronic-report {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 10px auto;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template: ". ." auto ". ." auto / 1fr 1fr;
  gap: 10px;
  grid-area: reports; }
#sidebar > #animatronic-report {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3; }

.animatronic-report {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 150px -webkit-min-content;
  -ms-grid-rows: min-content 150px min-content;
  -ms-grid-columns: 60px auto auto;
  grid-template: "icon name name" -webkit-min-content "icon reports reports" 150px "icon starting-ai-level current-ai-level" -webkit-min-content / 60px auto auto;
  grid-template: "icon name name" min-content "icon reports reports" 150px "icon starting-ai-level current-ai-level" min-content / 60px auto auto;
  border: 2px solid; }

.animatronic-icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: icon;
  border-right: inherit; }

.starting-ai-level {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: starting-ai-level; }

.current-ai-level {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: current-ai-level; }

.report-item-container {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: reports; }

#sidebar > .report-item-container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3; }

.animatronic-name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  font-size: 1.5em;
  font-weight: bold;
  grid-area: name;
  text-transform: uppercase;
  padding: 5px; }

.animatronic-name, .starting-ai-level, .current-ai-level {
  padding-left: 10px; }

.animatronic-report[for="Bonnie"] {
  border-color: rebeccapurple; }
  .animatronic-report[for="Bonnie"] .animatronic-icon {
    background: url("../../assets/animatronics/bonnie.png") center/cover; }
  .animatronic-report[for="Bonnie"] .animatronic-name, .animatronic-report[for="Bonnie"] .starting-ai-level, .animatronic-report[for="Bonnie"] .current-ai-level {
    background: rebeccapurple; }

.animatronic-report[for="Chica"] {
  border-color: yellow; }
  .animatronic-report[for="Chica"] .animatronic-icon {
    background: url("../../assets/animatronics/chica.png") center/cover; }
  .animatronic-report[for="Chica"] .animatronic-name, .animatronic-report[for="Chica"] .starting-ai-level, .animatronic-report[for="Chica"] .current-ai-level {
    background: yellow;
    color: black; }

.animatronic-report[for="Foxy"] {
  border-color: red; }
  .animatronic-report[for="Foxy"] .animatronic-icon {
    background: url("../../assets/animatronics/foxy.png") center/cover; }
  .animatronic-report[for="Foxy"] .animatronic-name, .animatronic-report[for="Foxy"] .starting-ai-level, .animatronic-report[for="Foxy"] .current-ai-level {
    background: red; }

.animatronic-report[for="Freddy"] {
  border-color: brown; }
  .animatronic-report[for="Freddy"] .animatronic-icon {
    background: url("../../assets/animatronics/freddy.png") center/cover; }
  .animatronic-report[for="Freddy"] .animatronic-name, .animatronic-report[for="Freddy"] .starting-ai-level, .animatronic-report[for="Freddy"] .current-ai-level {
    background: brown; }

#camera-display {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid transparent; }

#camera-status {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

body[cameras-on="false"] #camera-screen {
  opacity: 0.1; }

body[cameras-on="false"] .camera-button {
  pointer-events: none;
  opacity: 0.3; }

body[cameras-on="false"] #camera-display {
  border-color: #646464; }

.camera-button {
  border: 3px solid #fff;
  background: #424242;
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  padding: 5px;
  text-align: left;
  line-height: 0.8;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 2px 20px 2px 5px;
  position: absolute;
  z-index: 2; }
  .camera-button.active {
    background: #7FB000; }
  .camera-button[disabled] {
    opacity: 0.3;
    cursor: not-allowed; }

/* Camera button placement -------------------------------------------------- */
.camera-button[camera="1A"] {
  top: 0;
  left: 27%; }

.camera-button[camera="1B"] {
  top: 15.3%;
  left: 22%; }

.camera-button[camera="1C"] {
  top: 37%;
  left: 14.5%; }

.camera-button[camera="2A"] {
  top: 76%;
  left: 28.4%; }

.camera-button[camera="2B"] {
  top: calc(76% + 54px);
  left: 28.4%; }

.camera-button[camera="3"] {
  top: 64%;
  left: 9%; }

.camera-button[camera="4A"] {
  top: 76%;
  left: 54.4%; }

.camera-button[camera="4B"] {
  top: calc(76% + 54px);
  left: 54.4%; }

.camera-button[camera="5"] {
  top: 26%;
  left: 0; }

.camera-button[camera="6"] {
  top: 60%;
  left: 83%; }

.camera-button[camera="7"] {
  top: 19%;
  left: 82%; }

body {
  background: #000;
  color: #fff;
  padding: 30px;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px; }

main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 750px 1fr;
  grid-template: ". ." auto / 750px 1fr; }

@media (max-width: 1400px) {
  main {
    -ms-grid-rows: auto;
    -ms-grid-columns: 600px 1fr;
    grid-template: ". ." auto / 600px 1fr; } }

@media (max-width: 1000px) {
  main {
    -ms-grid-rows: auto;
    -ms-grid-columns: 500px 1fr;
    grid-template: ". ." auto / 500px 1fr; } }

details {
  width: 100%;
  cursor: pointer; }

img {
  max-width: 100%; }

.hidden {
  display: none; }

button {
  cursor: pointer; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #111; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; }

/* Pizzeria layout ---------------------------------------------------------- */
#pizzeria-layout {
  max-width: 750px; }
  #pizzeria-layout * {
    stroke-width: 0.75; }
  #pizzeria-layout #Rooms * {
    stroke: #fff; }
  #pizzeria-layout #Dead_space {
    stroke: #333333; }

#sidebar {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 10px -webkit-min-content;
  -ms-grid-rows: auto 10px min-content;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template: ". ." auto " reports reports" -webkit-min-content / 1fr 1fr;
  grid-template: ". ." auto " reports reports" min-content / 1fr 1fr;
  gap: 10px; }
