@use 'css-modules/_timer.scss';
@use 'css-modules/_animatronics.scss';
@use 'css-modules/_simulator.scss';
@use 'css-modules/_reports.scss';
@use 'css-modules/_cameras.scss';
body {
  background: #000;
  color: #fff;
  padding: 30px;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px; }

main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 750px 100px 1fr;
  grid-template: ". ." auto / 750px 1fr;
  gap: 0 100px; }

details {
  width: 100%;
  cursor: pointer; }

img {
  max-width: 100%; }

.hidden {
  display: none; }

button {
  cursor: pointer; }

/* Pizzeria layout ---------------------------------------------------------- */
#pizzeria-layout {
  max-width: 750px; }
  #pizzeria-layout * {
    stroke-width: 0.75; }
  #pizzeria-layout #Rooms * {
    stroke: #fff; }
  #pizzeria-layout #Dead_space {
    stroke: #333333; }
