
$black: #000;
$white: #fff;
$green: #7FB000;

$l-screens: 1400px;
$m-screens: 1000px;
$s-screens: 700px;


@mixin buttonStyle {
  border: 3px solid $white;
  background: #424242;
  color: $white;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  padding: 5px;
  text-align: left;
  line-height: 0.8;

  &.active{
    background: $green;
  }

  &[disabled]{
    opacity: 0.3;
    cursor: not-allowed;
  }
}


// @use 'css-modules/_var.scss';
@import 'css-modules/_timer.scss';
@import 'css-modules/_animatronics.scss';
@import 'css-modules/_simulator.scss';
@import 'css-modules/_reports.scss';
@import 'css-modules/_cameras.scss';

body{
  background: $black;
  color: $white;
  padding: 30px;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

main{
  width: 100%;
  display: grid;
  grid-template: 
    ". ." auto
    / 750px 1fr;
}

@media(max-width: $l-screens){
  main{
    grid-template: 
    ". ." auto
    / 600px 1fr;
  }
}

@media(max-width: $m-screens){
  main{
    grid-template: 
    ". ." auto
    / 500px 1fr;
  }
}







details{
  width: 100%;
  cursor: pointer;
}

img{
  max-width: 100%;
}

.hidden{
  display: none;
}

button{
  cursor: pointer;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; 
}


/* Pizzeria layout ---------------------------------------------------------- */



#pizzeria-layout{
  max-width: 750px;

  *{
    stroke-width: 0.75;
  }

  #Rooms *{
    stroke: $white;
  }

  #Dead_space{
    stroke: #333333;
  }
}

#sidebar{
  display: grid;
  grid-template:
    ". ." auto
    " reports reports" min-content
    / 1fr 1fr;
    gap: 10px;
}
