
$black: #000;
$white: #fff;

// @use 'css-modules/_var.scss';
@use 'css-modules/_timer.scss';
@use 'css-modules/_animatronics.scss';
@use 'css-modules/_simulator.scss';
@use 'css-modules/_reports.scss';
@use 'css-modules/_cameras.scss';

body{
  background: $black;
  color: $white;
  padding: 30px;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

main{
  width: 100%;
  display: grid;
  grid-template: 
    ". ." auto
    / 750px 1fr;
    gap: 0 100px;
}

details{
  width: 100%;
  cursor: pointer;
}

img{
  max-width: 100%;
}

.hidden{
  display: none;
}



/* Pizzeria layout ---------------------------------------------------------- */



#pizzeria-layout{
  max-width: 750px;

  *{
    stroke-width: 1;
  }

  #Rooms *{
    stroke: $white;
  }

  #Dead_space{
    stroke: #333333;
  }
}



