// @use 'var.scss';

.animatronic{
  width: 50px;
  height: 50px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

/* Camera 1A -----------------------------------------------------------------*/

.animatronic[position="1A"]{
  top: 6.7%;
  left: 33.5%;
}

.animatronic#Chica[position="1A"]{
  left: 42.5%;
}

.animatronic#Freddy[position="1A"]{
  left: 51%;
}

/* Camera 1B ----------------------------------z-------------------------------*/

.animatronic[position="1B"]{
  top: 17%;
  left: 23%;
}



/* Individual animatronic styling ------------------------------------------- */


#Bonnie{
  background-color: purple;
  background-image: url('../../assets/Bonnie.svg');
}

#Chica{
  background-color: yellow;
  background-image: url('../../assets/Chica.svg');
}

#Freddy{
  background-color: brown;
  background-image: url('../../assets/Freddy.svg');
}