// @use 'var.scss';

.animatronic{
  width: 50px;
  height: 50px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  @media(max-width: $l-screens){
    transform: scale(0.9) translate(-10%, -10%);
  }

  @media(max-width: $m-screens){
    transform: scale(0.8) translate(-20%, -20%);
  }
}



/* Camera 1A -----------------------------------------------------------------*/

.animatronic[position="1A"]{
  top: 6.7%;
  left: 33.5%;
}

.animatronic#Chica[position="1A"]{
  left: 42.5%;
}

.animatronic#Freddy[position="1A"]{
  left: 51%;
}

/* Camera 1B ------------------------------------------------------------------*/

.animatronic[position="1B"]{
  top: 24%;
  left: 23%;
}

/* Camera 7 ------------------------------------------------------------------*/

.animatronic[position="7"]{
  top: 23.5%;
  left: 78.65%;
}

/* Camera 6 ------------------------------------------------------------------*/

.animatronic[position="6"]{
  top: 63.5%;
  left: 78.65%;
}

/* Camera 4A ------------------------------------------------------------------*/

.animatronic[position="4A"]{
  top: 63.5%;
  left: 55.2%;
}

/* Camera 4B ------------------------------------------------------------------*/

.animatronic[position="4B"]{
  top: 84%;
  left: 55.2%;
}


/* Individual animatronic styling ------------------------------------------- */


#Bonnie{
  background-color: purple;
  background-image: url('../../assets/Bonnie.svg');
}

#Chica{
  background-color: yellow;
  background-image: url('../../assets/Chica.svg');
}

#Freddy{
  background-color: brown;
  background-image: url('../../assets/Freddy.svg');
}