#camera-display{
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
}

#camera-display video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
}

#camera-status{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

body[cameras-on="false"] {

  #camera-screen{
    opacity: 0.1;

  }

  .camera-button {
    pointer-events: none;
    opacity: 0.3;
  }

  #camera-display{
    border-color: #646464;
  }
}

.camera-button {
  @include buttonStyle;
  width: min-content;
  padding: 2px 20px 2px 5px;
  position: absolute;
  z-index: 2;

  &.active{
    pointer-events: none;
  }
}



/* Camera button placement -------------------------------------------------- */

.camera-button[camera="1A"] {
  top: 0;
  left: 27%;
}

.camera-button[camera="1B"] {
  top: 15.3%;
  left: 22%;
}

.camera-button[camera="1C"] {
  top: 37%;
  left: 14.5%;
}

.camera-button[camera="2A"] {
  top: 76%;
  left: 28.4%;
}

.camera-button[camera="2B"] {
  top: calc(76% + 54px);
  left: 28.4%;
}

.camera-button[camera="3"] {
  top: 64%;
  left: 9%;
}

.camera-button[camera="4A"] {
  top: 76%;
  left: 54.4%;
}

.camera-button[camera="4B"] {
  top: calc(76% + 54px);
  left: 54.4%;
}

.camera-button[camera="5"] {
  top: 26%;
  left: 0;
}

.camera-button[camera="6"] {
  top: 60%;
  left: 83%;
}

.camera-button[camera="7"] {
  top: 19%;
  left: 82%;
}