
body[cameras-on="false"]{
  img#camera-screen{
    display: none;
  }

  .camera-button{
    pointer-events: none;
    opacity: 0.3;
  }
}

.camera-button{
  border: 2px solid #fff;
  background: #424242;
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  width: min-content;
  text-align: left;
  line-height: 0.8;
  padding: 2px 20px 2px 5px;
}

