/* Info bar ----------------------------------------------------------------- */

#info-bar {
  background: @black;
  color: @white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid @white;
  font-size: 1.25em;
  width: 100%;

  & > div {
    display: flex;
    align-items: center;
  }
}

#audio-container {
  position: relative;

  #sound-prompt {
    background: @green;
    color: @black;
    font-size: 16px;
    width: 100px;
    line-height: 0.9;
    text-align: center;
    padding: 25px 10px 5px;
    box-sizing: border-box;
    position: absolute;
    right: -18px;
    top: 100%;
    animation: float 3s ease-in-out infinite;
    clip-path: polygon(50% 0%, 100% 20px, 100% 100%, 0% 100%, 0% 20px);
  }

  .switch .slider {
    background: red;
  }
}

body[game-in-progress='true'] #sound-prompt {
  display: none;
}

@keyframes float {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-5px);
  }
}

#game-mode-selector {
  & > span:first-child {
    margin-left: 20px;
  }

  .slider {
    background: #333 !important;
  }
}

@media (max-width: @xs-screens) {
  #info-bar {
    font-size: 14px;
  }

  #game-mode-selector {
    & > span:first-child {
      margin-left: 0;
    }
  }
}

@media (max-width: 500px) {
  #info-bar {
    font-size: 12px;
  }
}
