.animatronic-report{
  max-height: 300px;
  overflow-y: auto;
}

.report-item{
  color: white;
  display: grid;
  grid-template: 
    "time description"
    "time calculation"
    / 80px 1fr
  ;
  margin-bottom: 15px;
}

.report-item[type="success"] .report-description{
  color: green;
}

.report-item[type="failure"] .report-description{
  color: red;
}

.report-time{
  color: rgba(white, 0.4);
  grid-area: time;
}

.report-description{
  grid-area: description;
}

.report-calculation{
  color: rgba(white, 0.4);
  grid-area: calculation;
}