.report-item-container{
  height: 200px;
  overflow-y: auto;
}

.report-item{
  color: white;
  display: grid;
  grid-template: 
    "time"
    "description"
    "extra-info"
  ;
  margin-bottom: 15px;
}

.report-item[type="success"] .report-description{
  color: green;
}

.report-item[type="fail"] .report-description{
  color: red;
}

.report-time{
  color: rgba(white, 0.4);
  grid-area: time;
}

.report-description{
  grid-area: description;
}

.report-extra-info{
  color: rgba(white, 0.4);
  grid-area: extra-info;
}

/* General panel ------------------------------------------------------------ */

#animatronic-report{
  display: grid;
  grid-template:
  ". ." auto
  ". ." auto
  / 1fr 1fr;
}

.animatronic-report{
  display: grid;
  grid-template:
    "icon name" min-content
    "icon starting-ai-level" min-content
    "icon current-ai-level" min-content
    "icon reports" auto
    / 60px auto auto;
}

.animatronic-icon{grid-area: icon;}
.starting-ai-level{grid-area: starting-ai-level;}
.current-ai-level{grid-area: current-ai-level;}
.report-item-container{grid-area: reports;}


.animatronic-report[for="Bonnie"]{

  .animatronic-icon{
    background: url('../../assets/animatronics/bonnie-icon.png') center / cover;
  }
}