
#simulator-container{
  display: grid;
  grid-template:

  "." auto
  "." auto
  "." auto
  "camera-button" min-content
  / 1fr;
  position: relative;
}


#simulator{
  position: relative;
}

#door-controls{
  padding-right: 8%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.door-button{
  @include buttonStyle;
}

#Rooms, #Dead_space{
  pointer-events: none;
}


svg#close-icons{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  pointer-events: none;
}


button#cameras{
  border: 3px solid #646464;
  background: rgba(#646464, 0.3) url(../../assets/icons/down-arrow.svg) center right no-repeat;
  background-size: contain;
  padding: 15px;
  border-radius: 5px;
  width: calc(100% - 40px);
  font-family: inherit;
  color: #fff;
  text-align: start;
  margin: 20px 20px 0;
  box-sizing: border-box;
  font-size: 1.5em;
  grid-area: camera-button;
}