#simulator{
  position: relative;
}

#door-controls{
  padding-right: 8%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.door-button{
  @include buttonStyle;
}

svg#close-icons{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}