/* Game speed selector ------------------------------------------------------ */

#game-speed-selector {
  display: flex;
  align-items: center;

  span {
    margin-right: 10px;
  }

  select {
    padding: 8px;
    border: 3px solid @green;
    border-radius: 0;
    cursor: pointer;
    background: @black;
    color: @white;

    &:focus {
      outline: @green;
    }
  }
}
