/* Game speed selector ------------------------------------------------------ */

#game-speed-selector {
  background: @green;
  color: @black;
  padding: 4px;

  select {
    padding: 8px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    background: @black;
    color: @white;
    min-width: 100px;
    margin-top: 7px;

    &:focus {
      outline: @green;
    }
  }
}
