/* TIMER -------------------------------------------------------------------- */

#in-game-time,
#real-time {
  .customFont();
}

#timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px 50px;
  flex-wrap: wrap;
}

/* IN GAME TIME ------------------------------------------------------------- */

#in-game-time {
  display: grid;
  grid-template:
    'hour minutes' min-content
    'hour am' min-content
    / 1fr min-content;
  gap: 0 10px;
  align-items: end;
}

@media (max-width: @l-screens) {
  #in-game-time {
    transform: scale(0.8);
  }
}

#in-game-time > span {
  line-height: 0.6;
  text-align: right;
}

.in-game-hour {
  font-size: 10em;
  grid-area: hour;
  justify-self: start;
}

.in-game-minutes {
  font-size: 2em;
}

.am-marker {
  font-size: 3em;
}

/* REAL TIME ---------------------------------------------------------------- */

#supplementary-time-info {
  padding: 10px 10px 10px 20px;
}

#frames {
  font-size: 0.8em;
}

#real-time {
  font-size: 2em;
  // margin: 10px 0;
}

@media (max-width: 500px) {
  #timer {
    margin-left: -10px;
  }
}
